<div class="menu">
    <a routerLink="/" class="menu-item">Home</a>
    <a routerLink="users" class="menu-item">Users</a>
    <a routerLink="/" class="menu-item">Huyusers</a>
</div>

<router-outlet>

</router-outlet>

















<!-- <div *ngIf='data'>
    name {{ data[0].name }}
</div>
<div *ngIf='!data'>
    <div id="loader">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
</div> -->

